<section id="currentPageTitle">Categories</section>

<section class="gameInstructions">
Please Choose A Category
</section>

<section id="buttonsTwo">
	<input type="button" class="optionTwo" id="categoryWords" value="WORDS"/>
	<input type="button" class="optionTwo" id="categoryHeadlines" value="HEADLINES"/>
		
	<!--
	<input type="button" class="welcomeButton" id="wordsCategory" value="WORDS"/>
	<input type="button" class="welcomeButton" id="headlineCategory" value="HEADLINES"/>
	-->
	
</section>	


