<section class="pageTitle">
Level II
</section>


<section class="gameInstructions">
INSTRUCTIONS
	<ol class= "gameInstructionsList">
		<li>Unscramble each <span id="instructionsGreen">WORD</span> in order</li>
		<li>Type each answer in the <span id="instructionsEntryField">White Box</span></li>
		<li>Press <input type="button" class="enterInstructionButton" value="ENTER"/>to check each answer</li>
	</ol>
</section>

<a href="/storyscramble_level_II" class="startButton">
START GAME
</a>
	


	
		
	
	