<section class="pageTitle">
Level One - Word Scramble
</section>


<section class="gameInstructions">
INSTRUCTIONS
	<ol class= "gameInstructionsList">
		<li>Unscramble the <span id="instructionsGreen">LARGE WORD</span></li>
		<li>Type your answer in the <span id="instructionsEntryField">White Box</span></li>
		<li>Press <input type="button" class="enterInstructionButton" value="ENTER"/>to check your answer</li>
	</ol>
</section>

<a href="/storyscramble_level_I" class="startButton">
START GAME
</a>
	


	
		
	
	