<section id="currentPageTitle">Level Three</section>


<section class="gameInstructions">
	INSTRUCTIONS
	<ol class= "gameInstructionsList">
		<li>Unscramble each <span class="instructionsGreen">WORD</span> in order</li>
		<li>Type each answer in the <span class="instructionsEntryField">White Box</span></li>
		<li>Press <input type="button" class="enterInstructionButton" value="ENTER"/>to check each answer</li>
	</ol>
</section>

<a href="/storyscramble_level_III" class="startButton">
START GAME
</a>
	


	
		
	
	