<!doctype html>

<html>
	<head>
        <title>
	        <% if (typeof pageTitle != "undefined") { %>
	           <%= pageTitle %>
	        <% } else { %>
	            StoryScramble.com
	        <% } %>
        </title>
        
        <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8"/>
        
        <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-30714595-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
        
        
        
    </head>


    <body>

		<header> 
               
           <div class="headerContainerWidth" id="helpDiv">
            <input type="button" class="headerHelpButton" id="helpButton" value="HELP"/>         
	       </div>
	        <input type="button" id="homeButton" value="STORY SCRAMBLE"/>
	      
                
         	<section id="pageTitle"></section>
      	
      	</header>
      	
        
        <article id="main">
            
            <%- body %>
        
        </article>
        
        <!-- <audio id="soundCorrect_01" src="correct_01.mp3" controls></audio> -->


		<footer>

			<form method="POST" action="/usaTodayAPIQuery">
				<input type="submit" class="footerButtons" id="usaTodayCall" value="USA Today API" />
			</form>

			<a href="http://www.craigprotzel.com" class="footerButtons">By Craig Protzel</a>
						
		</footer>

		

		<!-- JavaScript at the bottom for fast page loading -->
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
        <script src="/js/script.js"></script>
        <script src="/js/src/app.js"></script>

    </body>
    
</html>