<!doctype html>

<html>
	<head>
        <title>
	        <% if (typeof pageTitle != "undefined") { %>
	           <%= pageTitle %>
	        <% } else { %>
	            StoryScramble.com
	        <% } %>
        </title>
        
        <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8"/>
	
    </head>

    <body>

		<header> 
            <% if (typeof pageTitle != "undefined") { %>
               <h1><%= pageTitle %></h1>
            <% } else {%>
            
            <!-- this link doesn't work, do I need a route??? -->
             <a href="/main" id="links">Story Scramble</a>
            
            <% } %>
        </header>
        
        
        <article id="main">
            
            <%- body %>
        
        </article>


		<footer>

			<form method="POST" action="/usaTodayAPIQuery">
				<input type="submit" class="footerButtons" id="usaTodayCall" value="USA Today API" />
			</form>

			<a href="http://www.craigprotzel.com" class="footerButtons">By Craig Protzel</a>
						
		</footer>



		<!-- JavaScript at the bottom for fast page loading -->
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
        <script src="/js/script.js"></script>
        <script src="/js/src/app.js"></script>

    </body>
    
</html>