<!doctype html>

<html>
    <head>
        <title>
        <% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
            CleverHealth.org
        <% } %>
        </title>
        
        <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8"/>

    </head>

    <body>

		<!-- Not Using Twitter Bootstrap For Now -->
        <div class="container">

            <div class="header">
            
                <% if (typeof pageTitle != "undefined") { %>
                   <h1><%= pageTitle %></h1>
                <% } %>
                
            </div>
            
            <div class="">
                
                <%- body %>
            
            </div>


        </div>


        <!-- JavaScript at the bottom for fast page loading -->
        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    </body>
    
</html>