<h2>USA Today - Top 10 Stories</h2>
	
<section class="gameBoard">		
<%	for( var i=0; i<stories.length; i++) { %>   

	<b>TITLE:</b> <a href="<%= stories[i].link %>"><%= stories[i].title %></a>
	<br/>
		

	<div>	
		<br/>
		<b>Level I</b>
		<br/>
		<b>Scrambled Title:</b>
		<%	var words = stories[i].title.split(" "); %>

		
		<!-- create a function to sort the words randomly -->

		<%	var sortRandom = function() { %>
		<%		return (0.5 - Math.random()); %>
		<%	} %>
			
		<%	words.sort(sortRandom); %>
			
		<%	for (var j = 0; j < words.length; j++) { %>
				<%= words[j] %>							
		<%	} %> 
	</div>	

	

	
	<div>	
		
		<!-- <br/> -->
		<b>Level II</b>
		<br/>
		<b>Title With Descending Word Length:</b>
		<%	var allWords = stories[i].title.split(" "); %>
		<%	var masterWords = stories[i].title.split(" "); %>
		
		<% 	console.log(allWords); %>
		
		<!-- create a function to sort the words longest to shortest -->
		<%	var sortLongToShort = function(a,b) { %>
		<%		return(b.toString().length - a.toString().length); %>
		<%	} %>
		
		<%	var sortedWords = allWords; %>
		
		<%	sortedWords.sort(sortLongToShort); %>
		
		<!-- print out the sorted words long to short -->
		<%	for (var j = 0; j < sortedWords.length; j++) { %>
			<%= sortedWords[j] %>
		<% } %>	
	</div>	
		
	<div>	
		<b>Longest Word:</b>
		<%= sortedWords[0] %>	
	</div>	
	
	<div>
		<b>Longest Word Scrambled:</b>
		
		<%	var index = 0;
			for (var j = 0; j < masterWords.length; j++){
				if (sortedWords[0] == masterWords[j]) {
					index = j;
				} 
			}
		
		 var longestWord = sortedWords[0].split("");
		 longestWord.sort(sortRandom); 
		 var scrambledWord = longestWord.join(""); %> 
		<%= scrambledWord %>
		
	<div>	
		<b>Rejoined Sentence with Scrambled Word:</b>
		<%	for (var j = 0; j < masterWords.length; j++){
			if (j == index) { %>
				<%= scrambledWord %>
		<%	} 
			else { %>
			<%= masterWords[j] %> 
		<%	}
		} %>
	</div>
	<% 	console.log(masterWords); %>
		
		
	</div>
	
	<div>
		<input type="text" placeholder="Type The Correct Word Here" name="longestWord" id="longestWord" size="50" />
	</div>
	
	
	<div>
	
		<br/>
		<b>Level III</b>
		<br/>
		<b>Words Scrambled But In Order:</b>
		<%	var scrambledWords = stories[i].title.split(" "); %>
				
		<% for (var j = 0; j < scrambledWords.length; j++) { %>
			<%	var scrambledLetters = scrambledWords[j].split("") %>
			<%	scrambledLetters.sort(sortRandom) %>
			<%	var newWords = scrambledLetters.join(""); %>
			<%= newWords %> 
		<%	} %>
		
		
		
	</div>
		
		
	<div>
		<br/>			
			<b>Description:</b> <%= stories[i].description %>
			<br/><br/>	
		<% } %>	
		
	</div>

</section>
