<section id="currentPageTitle">Level Three</section>
	
	
<section class="gameBoard" id="gameBoardSection">		
   	
		<!-- declare variables -->
		<%	var masterHeadline = randomStory.title; %>
		<%	var masterWords = masterHeadline.split(" "); %>
		<%	var wordCountIndex = 0; %> 
			
		<!-- save these values for the front end in a hidden div -->
		<div class="hidden" id="levelThreeHeadline"><%= masterHeadline %></div>
		<div class="hidden" id="levelThreeWordCountIndex"><%= wordCountIndex %></div> 
		
		<!-- declare an array to save the scrambled words -->		
		<% var scrambledWords = []; %>

		<span class="quotes">"</span>		
		<%	for (var i=0; i < masterWords.length; i++){ %>
				
				<!-- run the scramble function on all the words -->
				<% scrambledWords[i] = scramble(masterWords[i]); %>
				
				<%	if (i == wordCountIndex){ %>
							<a href="<%= randomStory.link %>" class="word highlightedWord"> <%= scrambledWords[i] %> </a>
				<%	} 
					else { %>
							<a href="<%= randomStory.link %>" class="word"> <%= scrambledWords[i] %> </a>
				<%	}
			} %>
					
		<span class="quotes">"</span>
		
		
		<ul id="scrambledWordsList">
		<% for (var i=0; i < scrambledWords.length; i++) { %>
			<li class="scrambledWordItem"><%= scrambledWords[i] %> </li>
		<% } %>
		</ul>
					
					
		<p>
			<input type="text" placeholder="" name="correctWord" class="gameEntryField" id="levelThreeEntry" value=""/>
			<input type="button" class="enterButton" id="levelThreeEnter" value="ENTER"/>
			<input type="button" class="enterButton" id="levelThreeNext" value="NEXT WORD"/>
							 		
		</p>
						
		<p id="lowerGameButtonsALL">
			<input type="button" class="lowerGameButtons" id="clueButton" value="CLUE"/>
			<input type="button" class="lowerGameButtons" id="giveMeButtonLevelThree" value="GIVE ME A LETTER!"/>
		</p>
			
		
		
		<p class="clue">	
			<!-- check to see if answer is in the clue -->			
			<%	var clueMasterWords = randomStory.description.split(" "); %>
			<%	var inClue = []; %>
				
			<!-- use compareWords and cleanup functions to check if the answer is part of the clue -->
			<!-- if the answer is in the clue, put it in appropriate array -->		
			<%	for (var i = 0; i < clueMasterWords.length; i++){
					for (var j = 0; j < masterWords.length; j++){
						if ( compareWords( cleanup( masterWords[j] ),cleanup( clueMasterWords[i] ) ) ) { 
							 inClue.push(clueMasterWords[i]);
						}
					} 
				} %>	
				
			<%	for (var i = 0; i < clueMasterWords.length; i++) { 					
					if (0 <= inClue.indexOf(clueMasterWords[i])){ %>
						<span id="answerInClue"> <%= scramble(clueMasterWords[i]) %> </span>
					<% } else { %>
						<span id="answerNotInClue"> <%= clueMasterWords[i] %> </span>
					<% }
				}	%>								
		</p>

</section>	
		


<!-- HELP SECTION -->
<section class = gameInstructions id="helpChoices">

	How Can We Help You?
		
	<section id="buttons">		
		<input type="button" class="option" id="changeTopic" value="CHANGE TOPIC"/>
		<input type="button" class="option" id="changeLevel" value="CHANGE LEVEL"/>
		<input type="button" class="option" id="reviewInstructions" value="INSTRUCTIONS"/>
		<input type="button" class="backButton" id="backToTheGame" value="BACK TO THE GAME"/>			
	</section>


</section>


<section class="gameInstructions" id ="helpInstructions">
	
	INSTRUCTIONS

	<ol class= "gameInstructionsList">
		<li>Unscramble each <span class="instructionsGreen">WORD</span> in order</li>
		<li>Type each answer in the <span class="instructionsEntryField">White Box</span></li>
		<li>Press <input type="button" class="enterInstructionButton" value="ENTER"/>to check each answer</li>
	</ol>


	<input type="button" class="backButton" id="backToTheGameInstructions" value="BACK TO THE GAME"/>
	
</section>





<!-- CHECK ANSWER SECTION -->				
<section class="checkAnswer" id="levelThreeCorrectAnswer">
	
	<p id="correctText">Correct!</p>
	
	<input type="text" placeholder="" name="scrambledWord" class="gameAnswerField" id="scrambledWordCorrect" value="<%= scrambledWords[wordCountIndex] %>"/>
	<b>=></b>
	<input type="text" placeholder="" name="currentWord" class="gameAnswerField" id="correctAnswer" value="<%= masterWords[wordCountIndex] %>"/>
	
	<input type="button" class="enterButton" id="levelThreeNew" value="NEXT WORD"/>
			
</section>


<section class="checkAnswer" id="finalAnswer">
	
	<p id="correctFinal">AWESOME!!!</p>
								
	<a href="<%= randomStory.link %>" class="word" id="finalHeadline">"<%=masterHeadline%>"</a>					
	
	<section>
		<input type="button" class="enterButton" id="levelThreeFinalButton" value="NEW HEADLINE"/>
	</section>		

</section>

		
<section class="checkAnswer" id="levelThreeWrongAnswer">
	<p id="wrongText">Sorry</p>
	
	<input type="text" placeholder="" name="scrambledWord" class="gameAnswerField" id="scrambledWordWrong" value="<%=  scrambledWords[wordCountIndex] %>"/>
	­
	<input type="text" placeholder="" name="enteredAnswer" class="gameAnswerField" id="wrongAnswer" value=""/>
	
	<input type="button" class="enterButton" id="levelThreeTryAgain" value="TRY AGAIN"/>
	<input type="button" class="enterButton" id="levelThreeSkip" value="NEXT WORD"/>
		
</section> 



