<section id="currentPageTitle">Level Three - Headlines</section>
	
	
<section class="gameBoard" id="gameBoardSection">		
   	
	<!-- grab the story title, split by spaces, save to a var -->
	<%	var masterHeadline = randomStory.title; %>
	<%	var masterHeadlineLower = masterHeadline.toLowerCase(); %> 
	<%	var masterWords = masterHeadlineLower.split(" "); %>
	<%	var wordCountIndex = 0; %> 
		
	<!-- save these values for the front end in a hidden div -->
	<div class="hidden" id="levelThreeHeadline"><%= masterHeadlineLower %></div>
	<div class="hidden" id="levelThreeWordCountIndex"><%= wordCountIndex %></div> 
	
	<!-- declare an array to save the scrambled words -->		
	<% var scrambledWords = []; %>

	<span class="quotes">"</span>		
	<%	for (var i=0; i < masterWords.length; i++){ %>
			
			<!-- run the scramble function on all the words -->
			<!-- <% scrambledWords[i] = scramble(masterWords[i]); %> -->
			<% scrambledWords[i] = scramble(masterWords[i]); %>
			
			<%	if (i == wordCountIndex){ %>
						
						<span class="word highlightedWord"> <%= scrambledWords[i] %> </span>
						
			<%	} 
				else { %>
						
						<span class="word"> <%= scrambledWords[i] %> </span>
			<%	}
		} %>
				
	<span class="quotes">"</span>
	
	
	<ul id="scrambledWordsList">
	<% for (var i=0; i < scrambledWords.length; i++) { %>
		<li class="scrambledWordItem"><%= scrambledWords[i] %> </li>
	<% } %>
	</ul>
				
				
	<p>
		<input type="text" placeholder="" name="correctWord" class="gameEntryField" id="letterEntry" value=""/>
		<input type="button" class="enterButton" id="levelThreeEnter" value="ENTER"/>
								 		
	</p>
					
	<p id="lowerGameButtonsALL">
		<input type="button" class="lowerGameButtons" id="clueButton" value="GIVE ME A CLUE"/>
		<input type="button" class="lowerGameButtons" id="giveMeButtonLevelThree" value="GIVE ME A LETTER"/>
	</p>
		
	
	
	<p class="clue">	
		<!-- check to see if answer is in the clue -->			
		<%	var clueMasterWords = randomStory.description.split(" "); %>
		<%	var inClue = []; %>
			
		<!-- use compareWords and cleanup functions to check if the answer is part of the clue -->
		<!-- if the answer is in the clue, put it in appropriate array -->		
		<%	for (var i = 0; i < clueMasterWords.length; i++){
				for (var j = 0; j < masterWords.length; j++){
					if ( compareWordsLevelThree( cleanup( masterWords[j] ),cleanup( clueMasterWords[i] ) ) ) { 
						 inClue.push(clueMasterWords[i]);
					}
				} 
			} %>	
			
		<%	for (var i = 0; i < clueMasterWords.length; i++) { 					
				if (0 <= inClue.indexOf(clueMasterWords[i])){ %>
					<span id="answerInClue"> <%= scramble(clueMasterWords[i]) %> </span>
				<% } else { %>
					<span id="answerNotInClue"> <%= clueMasterWords[i] %> </span>
				<% }
			}	%>								
	</p>

</section>	
		


<!-- HELP SECTION -->
<section class="gameInstructions" id ="helpInstructions">
	
	INSTRUCTIONS

	<ol class= "gameInstructionsList">
		<li>Unscramble the <span class="instructionsGreen">  LARGE WORD</span></li>
		<li>Type each answer in the <span class="instructionsEntryField">White Box</span></li>
		<li>Press <span class="instructionsPurple">ENTER</span> to check your answer</li>
	</ol>


	<input type="button" class="backButton" id="backToTheGameInstructions" value="BACK TO THE GAME"/>
	
</section>


<!-- Help Box Insert - Removing this feature for now -->
<section class="gameInstructionsSmall" id="helpInstructionsSmall">
	
	HOW TO PLAY

	<ol class= "gameInstructionsListSmall">
		<li>Unscramble the <span class="instructionsGreen">  LARGE WORD</span></li>
		<li>Type your answer in the <span class="instructionsEntryFieldSmall">White Box</span></li>
		<li>Press <span class="instructionsPurpleSmall">ENTER</span> to check your answer</li>
	</ol>
	
</section>


<!-- CHECK ANSWER SECTION -->				
<section class="checkAnswer" id="levelThreeCorrectAnswer">
	
	<p id="correctText">Correct!</p>
	
	<input type="text" placeholder="" name="scrambledWord" class="gameAnswerField" id="scrambledWordCorrect" disabled="disabled" value="<%= scrambledWords[wordCountIndex] %>"/>
	<b>=></b>
	<input type="text" placeholder="" name="currentWord" class="gameAnswerField" id="correctAnswer" disabled="disabled" value="<%= masterWords[wordCountIndex] %>"/>
	
	<input type="button" class="lowerGameButtons" id="levelThreeNext" value="NEXT WORD"/>
			
</section>


<section class="checkAnswer" id="finalAnswer">
	
	<p id="correctFinal">AWESOME!!!</p>
								
	<a href="<%= randomStory.link %>" class="word" id="finalHeadlineLink">"<%=masterHeadline%>"</a>	
	<div class="word" id="finalHeadline">"<%=masterHeadline%>"</div>				
	
	<section>
		<input type="button" class="lowerGameButtons" id="levelThreeFinalButton" value="NEW HEADLINE"/>
		<input type="button" class="lowerGameButtons" id="readStory" value="READ STORY"/>
	</section>	

</section>

		
<section class="checkAnswer" id="levelThreeWrongAnswer">
	
	<input type="text" placeholder="" name="scrambledWord" class="gameAnswerField" id="scrambledWordWrong" disabled="disabled" value="<%=  scrambledWords[wordCountIndex] %>"/>
	­
	<input type="text" placeholder="" name="enteredAnswer" class="gameAnswerField" id="wrongAnswer" disabled="disabled" value=""/>
	
	<input type="button" class="lowerGameButtons" id="levelThreeTryAgain" value="TRY AGAIN"/>
		
</section> 

<section id="articleLoadingText"></section>
<section id="articleLoadingGif"></section>		

<section id="showStoryContainer">
	
	<section id="showStory">
		
		<section id="showStoryHeadline">
			"<%= masterHeadline %>"
		</section>
						
		<section id="showStoryDate">
			<% var date = pullDate(randomStory.link) %>
			DATE: <%= date %> 
		</section>
				
		<section id="showImage"></section>
				
		<section id="showStoryText">
			<%= masterHeadline %>
		</section>
			
		<section id="showStoryLink">
			<a href="<%= randomStory.link %>" target="_blank">CLICK HERE TO GO TO FULL STORY</a>
		</section>	
		
	</section>
		
	<input type="button" class="backButton" id="backToTheGameReadStory" value="BACK TO THE GAME"/>			
</section>
