<div class="pageName">
Story Scramble Level I
</div>

<div class="main">

	<form method="POST" action="/storyscramble_level_I_post">
	Create A Name
		<br/>
		<input type="text" placeholder="Enter Name Here" name="storyName" id="storyName" size="50" />
		
		<br/><br/>
	
	Pick Your Content<br/>
			
				<select name="contentType">
					<% for (i = 0; i < contentType.length; i++){ %>
						<option value="<%= contentType[i] %>"> <%= contentType[i] %> </option>
					<% } %>
				</select>		
			
			<br/><br/>

	
	Choose Your Topics

		<br/><br/>
			
		<% for (i = 0; i < storyTopics.length; i++){ %>
		<input type="checkbox" name="storyTopics" class="storyTopics" value="<%= storyTopics[i] %>" /> <%= storyTopics[i] %> <br/>
			<% if(storyTopics[i].checked){ %>
			<% storyTopicsText = storyTopicsText + storyTopics[i].value + "   "; %> 
			<% } %> 
		<% } %>	

					
		<br/>
						
		<input type="submit" class="medButton" id="storySubmit"/>
	
	</form>			

</div>