<section id="currentPageTitle">Level One</section>
	
<!-- MAIN GAME SECTION -->	
<section class="gameBoard" id="gameBoardSection">		
   	
	<!-- grab the story title, split by spaces, save to a var -->
	<%	var masterHeadline = randomStory.title; %>
	<%	var masterHeadLineLower = masterHeadline.toLowerCase(); %> 
	<%	var masterWords = masterHeadLineLower.split(" "); %>
		
	<!-- use the "longestOne" function to (1)sort the comma separated string and then (2)determine the index value of the longest word -->	
	<%	var	index = longestOne(masterWords); %>
					
	<!-- save the longest word in a hidden div -->
	<div class="hidden" id="levelOneAnswer"><%= masterWords[index] %></div>
	
	<%  var letters = masterWords[index].split(""); %> 
	<div class="hidden" id="levelOneLetters"><%= letters %></div>  
	
	<!-- use the "scramble" function to randomize the character order of the longest word -->
	<%	var scrambledWord = scramble(masterWords[index]); %>
		
		<!-- print the story title with the longest word scrambled in its original position -->	
		<!-- <span class="quotes">"</span> -->
		<%	for (var i = 0; i < masterWords.length; i++){
			if (i == index) { %>
				<a href="<%= randomStory.link %>" id="highlightWord"> <%= scrambledWord %> </a>
		<%	} 
			else { %>
				<a href="<%= randomStory.link %>" id="wordTitle"> <%= masterWords[i] %> </a>		
		<%		}
			} %>
			<!-- <span class="quotes">"</span> -->
		
		
		<p>
			<input type="text" placeholder="" name="longestWord" class="gameEntryField" id="levelOneEntry" value=""/>
			
			<input type="button" class="enterButton" id="levelOneEnter" value="ENTER"/>
				
		</p>
			
					
		<p id="lowerGameButtonsALL">
			<input type="button" class="lowerGameButtons" id="clueButton" value="GIVE ME A CLUE"/>
			<input type="button" class="lowerGameButtons" id="giveMeButtonLevelOne" value="GIVE ME A LETTER"/>
			<!-- <input type="button" class="lowerGameButtons" id="levelOneNew" value="GIVE ME A NEW HEADLINE"/> -->
		</p>
		

		<p class="clue">	
			<!-- check to see if answer is in the clue -->			
			<%	var clueMasterWords = randomStory.description.split(" ");%>
				
			<!-- use compareWords and cleanup functions to check if the answer is part of the clue -->
			<!-- if the answer is in the clue, scramble it -->		
			<%	for (var i = 0; i < clueMasterWords.length; i++){
					if ( compareWords( cleanup( masterWords[index] ),cleanup( clueMasterWords[i] ) ) ) { %>
						<span id="answerInClue"> <%= scramble(clueMasterWords[i]) %> </span> 		
					<%	} else { %>
						<span id="answerNotInClue"> <%= clueMasterWords[i] %> </span>
					<%	} 
				} %>			
		</p>

</section>	
		
		

<!-- HELP SECTION -->
<section class = gameInstructions id="helpChoices">

	How Can We Help You?
	
	<section id="buttons">		
		<input type="button" class="option" id="changeTopic" value="CHANGE TOPIC"/>
		<input type="button" class="option" id="changeLevel" value="CHANGE LEVEL"/>
		<input type="button" class="option" id="reviewInstructions" value="INSTRUCTIONS"/>
		<input type="button" class="backButton" id="backToTheGame" value="BACK TO THE GAME"/>		
	</section>

</section>


<section class="gameInstructions" id ="helpInstructions">
	
	HOW TO PLAY

	<ol class= "gameInstructionsList">
		<li>Unscramble the <span class="instructionsGreen"> GREEN WORD</span></li>
		<li>Type your answer in the <span class="instructionsEntryField">White Box</span></li>
		<li>Press <span class="instructionsPurple">ENTER</span> to check your answer</li>
	</ol>

	<input type="button" class="backButton" id="backToTheGameInstructions" value="BACK TO THE GAME"/>
	
</section>


<section class="gameInstructionsSmall" id="helpInstructionsSmall">
	
	HOW TO PLAY

	<ol class= "gameInstructionsListSmall">
		<li>Unscramble the <span class="instructionsGreenSmall">GREEN WORD</span></li>
		<li>Type your answer in the <span class="instructionsEntryFieldSmall">White Box</span></li>
		<li>Press <span class="instructionsPurpleSmall">ENTER</span> to check your answer</li>
	</ol>

	<!-- <input type="button" class="backButton" id="backToTheGameInstructionsSmall" value="BACK TO THE GAME"/> -->
	
</section>



	
		
<!-- CHECK ANSWER SECTION -->				
<section class="checkAnswer" id="levelOneCorrectAnswer">
	
	<p>Nice Work!</p>
	
	<a href="<%= randomStory.link %>" class="word" id="finalHeadline">"<%=masterHeadline%>"</a>
	
	<!--
	<input type="text" placeholder="" name="scrambledWord" class="gameAnswerField" value="<%= scrambledWord %>"/>
	<b>=</b>
	<input type="text" placeholder="" name="longestWord" class="gameAnswerField" value="<%= masterWords[index] %>"/>
	-->
	<section>
		<input type="button" class="lowerGameButtons" id="levelOneNext" value="NEW HEADLINE"/>
		<input type="button" class="lowerGameButtons" id="readStory" value="READ STORY"/>
	</section>		
			
</section>
		
<section class="checkAnswer" id="levelOneWrongAnswer">
	<!-- <p>Sorry</p> -->
	
	<input type="text" placeholder="" name="scrambledWord" class="gameAnswerField" disabled="disabled" value="<%= scrambledWord %>"/>
	­
	<input type="text" placeholder="" name="enteredAnswer" class="gameAnswerField" id="wrongAnswer" disabled="disabled" value=""/>
	
	<input type="button" class="lowerGameButtons" id="levelOneTryAgain" value="TRY AGAIN"/>
	<!-- <input type="button" class="lowerGameButtons" id="levelOneSkip" value="NEW HEADLINE"/> -->
		
</section> 

		
<section id="showStory">


	<section id="showStoryHeadline">
		"<%= masterHeadline %>"
	</section>
	
	<section id="showStoryText">
		<%= masterHeadline %>
	</section>
					
	<input type="button" class="backButton" id="backToTheGameReadStoryBottom" value="BACK TO THE GAME"/>
	<!-- <input type="button" class="backButton" id="linkToStory" value="LINK TO THE STORY"/> -->

</section>
