//font sizes
@superBig: 96px;
@reallyBig: 72px;
@big: 52px;
@large: 38px;
@medium: 24px;
@normal: 18px;
@small: 12px;


@main: #F9F6EA;
@white: #fff;
@black: #000;



//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout, aka fluid vs non-fluid
@total-width: 100%;


////////////
// LAYOUT //
////////////

body{
	#font.sans-serif();
	margin: 0;
	padding: 0;
	background-color: @grayDark;
	//background-color: @white; 
	
	h1{
	color: @white;
	font-size: @big;
	font-weight: bold;
	}	
	
	a{ 
	text-decoration: none;
	}
}


.hidden { 
display: none;
}



// > sign means direct child of
body > header {
	background: @lightPurple;
	padding: 20px;		
	
	#links{
		.styleButton();
		font-size: @medium;
		text-align: left;
		padding: 8px 12px 10px 12px;
		}
		
}
	

article#main {
	/* .column(12); */	
	max-width: 960px; 
	height: 100%;
	/* padding: 200px; */
	margin: 0 auto;
	overflow: hidden;
	color: @white;
	//color: @grayDark;
	
	background-color: @grayDark;
	//background-color: @white;
	
}

body > footer {
	position: fixed;
	background-color: @lightPurple;
	bottom: 0;
	width: 100%;
	color: @white;
	padding: 6px;
	font-weight: 500;
	font-size: @small;
	display: inline;
}


///////////////
// MAIN PAGE //
///////////////


.pageTitle{

	font-size: @large;

	font-weight: 600;
	text-align: center;
	
	margin-top: 60px;
	line-height: 50px;
}
	
	
/*
#welcomePageTitle{
	font-size: @large;
}
	
#levelOneTitle{
	font-size: @large;
}
*/
		
	

.instructions{

	font-size: @big;
	font-weight: bold;
	text-align: center; 
	margin-top: 100px; 
	line-height: 50px;
}	



#usaTodayCall {
		float: right; 
		/* display: inline;  */
		margin-right: 30px;
		}


#buttons {  
	/* .column(12); */ 
	/* .push(2); */
	/* .row(9); */
	margin: 50px auto 100px auto;
	margin-top:  50px;   
	margin-bottom: 100px;
	

	.option {
		.column(3,9); 
		.bigButton();
		
	}
}


.footerButtons{
	.styleButton();
	height: 20px;
 	line-height: 20px;
	padding: 0 10px 0 10px;
	font-size: 20%;
	font-size: @small;
}






//////////////////
// INSTRUCTIONS //
//////////////////

.gameInstructions{

	font-size: @big;
	font-weight: bolder;
	text-align: center;
	margin-top: 100px; 
	line-height: 50px;
}	




.gameInstructionsList{

	font-size: @large;
	font-weight: bold;
	text-align: left;
	margin: 50px 0px 0px 13%; 
	line-height: 65px;
}	

.gameInstructionsListSmall{
	display: none;
	color: @white;
	font-size: @normal;
	font-weight: bold;
	text-align: left;
	margin: 50px 25% 0px 30%; 
	line-height: 45px;
}


.instructionsGreen{
	color: @newAqua;
	font-size: @big;	
}

.instructionsGreenSmall{
	color: @newAqua;
	font-size: @medium;	
	padding: 0px 10px 0px 5px;
}



.instructionsEntryField{
		font-size: @large; 
		color: @grayDark;
		background-color: @white;
		padding: 5px 25px;
		margin: 0px 10px;
	}

.instructionsEntryFieldSmall{
		font-size: @normal; 
		color: @grayDark;
		background-color: @white;
		padding: 5px 10px;
		margin: 5px 5px;
	}


	
.enterInstructionButton{
	.styleButton();
	padding: 15px 20px 15px 20px;
	margin: 10px 20px 10px 15px;
	font-size: @medium;
}

.enterInstructionButtonSmall{
	.styleButton();
	padding: 5px 10px 5px 10px;
	margin: 5px 10px 5px 7px;
	font-size: @normal;
}


	
	
.startButton {

	.instructionsButton();
	.column(4,12);	
	padding: 50px 50px;
	margin: 80px 30%;
	font-size: @large;
	line-height: 42px;
}






////////////////
// GAME BOARD //
////////////////

.gameBoard {
	color: @white;
	
	a{
	text-decoration: none;
	color: @white;
	}
}


.game {
	color: @white;
	font-size: @medium;
	font-weight: bold;
	margin: 100px 10px;
	line-height: 60px;	
	text-align: center;	
	}

	
#wordsLevelOne{
	font-size: @large;
}	
	
	
#highlightLevelOne{
		font-size: @superBig;
		display: inline;
		color: @newAqua;
		padding: 0 2px 0 8px;
	}
	

.hideClue{
	display: none;
}	



#highlightClueLevelOne{
		font-size: @medium;
		display: inline;
		color: @newAqua;
		padding: 0 5px 0 5px;
	}

	
#fullTitle{
		font-size: @big;
		display: inline;
		color: @newAqua;
		padding: 0 5px 0 5px;
	}



.lowerGameButtons{
	.styleButton();
	padding: 15px 25px 15px 25px;
	margin: 10px 10px 10px 10px;
	font-size: @normal;
	
	
	#levelOneClueButton{
	}
	#levelOneGiveMeButton{
	}
	#levelOneHelpButton{
	}


	#levelTwoClueButton{
	}
	#levelTwoGiveMeButton{
	}
	#levelTwoHelpButton{
	}

}


#levelOneLowerGameButtonsALL{
	margin: 70px 0% 10px 0%;
}

#levelTwoLowerGameButtonsALL{
	margin: 70px 0% 10px 0%;
}



.clue{ 
	display: none;
	margin: 35px 0px 5px 0px;	
	color: @white;
	font-size: @medium;
	line-height: 35px;
}



.gameEntryField{
		font-size: @large; 
		width: 9em;
		margin: 0 auto 0 auto;		
	}

	
.enterButton{
	.styleButton();
	padding: 15px 20px 15px 20px;
	margin: 30px 20px 30px 30px;
	font-size: @medium;
}


.nextButton{
	.styleButton();
	padding: 15px 20px 15px 20px;
	margin-top: 30px;
	font-size: @medium;
}


.checkAnswer{
	display: none;	
	padding: 15px 20px 15px 20px;
	margin: 45px;
	font-size: @big;
	
	}
	
	
#levelOneCorrectAnswer{
	color: @newGreen;
}
	
	
#levelOneWrongAnswer{
	color: @newRed;
}
	








/* forms */

/*
.main{
	position: absolute;
	top: 150px;
	left: 150px;
	white-space:nowrap;
	
	font-size: 36px;

}
*/





