//font sizes
@superBig: 64px;
@big: 52px;
@large: 38px;
@medium: 24px;
@normal: 18px;
@small: 12px;


@main: #F9F6EA;
@white: #fff;
@black: #000;



//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout, aka fluid vs non-fluid
@total-width: 100%;


////////////
// LAYOUT //
////////////

body{
	#font.sans-serif();
	margin: 0;
	padding: 0;
	background-color: @grayDark; 	
}

.hidden { 
display: none;
}


// > sign means direct child of
body > header {
	background: @lightPurple;
	padding: 20px;
	
	h1{
		margin: 0;
		font-size: @medium;	
		color: @white;
		}
	
	.links{
		text-decoration: none;
		}	
	}
	

article#main {
	/* .column(12); */	
	max-width: 960px; 
	height: 100%;
	/* padding: 200px; */
	margin: 0 auto;
	overflow: hidden;
	color: @white;
	
	background-color: @grayDark;
	
}

body > footer {
	position: fixed;
	background-color: @lightPurple;
	bottom: 0;
	width: 100%;
	color: @white;
	padding: 6px;
	font-weight: 500;
	font-size: @small;
	display: inline;
}


///////////////
// MAIN PAGE //
///////////////


.pageTitle{
	
	font-size: @large;
	font-weight: bold;
	text-align: center;
	
	/* margin: 45px; */ 
	margin-top: 60px;
	line-height: 50px;
	
	/* .push(3); */
	/* .pull(3); */	
		
	}
	

.instructions{

	font-size: @big;
	font-weight: bold;
	text-align: center; 
	margin-top: 100px; 
	line-height: 50px;
	/* .push(2); */
}	

	
.gameInstructions{

	font-size: @medium;
	font-weight: bold;
	text-align: center;
	margin: 75px 20px;
	line-height: 35px;
}


.game {

	font-size: @medium;
	font-weight: bold;
	margin: 100px 10px;
	line-height: 40px;
	/* display: inline; */
	
	#highlight{
		font-size: @superBig;
		display: inline;
		color: @newAqua;
		padding: 0 5px 0 5px;
	}

}
	


#buttons {  
	/* .column(12); */ 
	/* .push(2); */
	/* .row(9); */
	margin: 50px auto 100px auto;
	margin-top:  50px;   
	margin-bottom: 100px;
	

	.option {
		.column(3,9); 
		.bigButton();
		
	}
}


.footerButtons{
	.styleButton();
	height: 20px;
 	line-height: 20px;
	padding: 0 10px 0 10px;
	font-size: 20%;
	font-size: @small;
}

.enterButtons{
	.styleButton();
	padding: 15px 20px 15px 20px;
	margin: 20px;
	font-size: @medium;
}


.clueButtons{
	.styleButton();
	padding: 10px 20px 10px 20px;
	font-size: @small;
}



.gameField{
		font-size: @large; 
		width: 9em;
		margin: 0 20px 0 20px;	
	}
	
.clue{ 
	margin: 5px 0 5px 0;	
}




#usaTodayCall {
		float: right; 
		/* display: inline;  */
		margin-right: 30px;
		}



////////////////
// GAME BOARD //
////////////////

.gameBoard {
	color: @white;
	
	a{
	/* text-decoration: none; */
	color: @white;
	}
	
}





/* forms */

/*
.main{
	position: absolute;
	top: 150px;
	left: 150px;
	white-space:nowrap;
	
	font-size: 36px;

}
*/





